
.wallpepper {
    width: 1050px;
    height: 400px;
    background-color: #ffdead;
}

.ava img {
    width: 50px;
    padding: 10px;
}

.button {
    border-radius: 40px;
    background-color: rgb(240, 65, 65);
    border-color: yellow;
    color: rgb(57, 230, 100);
    padding: 10px;
}