
.paginator{
   margin: 10px;
}
.pageNumber{
    padding: 2px;
    border: 1px solid grey;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color:gold;
    border-width: bold;
    background-color:  goldenrod;
}
