.users {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: crimson;
    background-color: cadetblue;
}

.user .active {
    color: goldenrod;
    text-decoration: none;
}

.userPhoto {
    height: 100px;
    width: 150px;
    }
.selectedPage {
    text-decoration: underline;
    font-size: x-large;
    color: lightcoral;
    cursor: grab;
}
