
.users {
    display:flex;
	justify-content: center;
    color: crimson;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 20px;
}

.user .active {
    color: goldenrod;
    text-decoration: none;
}


.userPage{
    background-color: cadetblue;
    color: navajowhite;
}
