.users {
    display: grid;
    grid-area: c;
    grid-template-rows: 2fr auto;
    color: crimson;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 20px;
}

.user .active {
    color: goldenrod;
    text-decoration: none;
}

.userPhoto {
    height: 100px;
    width: 150px;
    }

.userPage{
    background-color: cadetblue;
    color: navajowhite;
}