.content {
    grid-area: c;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 0;
}

.content {
    color: deepskyblue;
    font-family: Cambria;
    font-size: large;
    padding-top: 0;
}

.textArea {
    padding-left: 10px;
}

.button {
    background-color: #1fa77f;
}