.content {
    grid-area: c;
    background-color: lightgrey;
    border-radius: 20px;
    padding-left: 10px;
}

.content {
    color: deepskyblue;
    font-family: Cambria;
    font: discretionary-ligatures;
    font-size: large
}

.postsBlock {
    padding: 10px;
}

.textArea {
    padding-left: 10px;
}

.button {
    background-color: #1fa77f;
}