.header {
    margin: 0 auto;
    display: grid;
    width: 700px;
    grid-template-rows: 60px;
    grid-template-columns: 300px 2fr;
    grid-gap: 100px;
    background-color: lightpink;
    color: deepskyblue;
    font-family: Arial sans-serif;
    font-style: italic;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    }
.login {
    font-family: Arial sans-serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    color: deepskyblue;
    }
.header animation {
    font-size: 25px;
      }