.header {
    grid-area: hr;
    background-color: navajowhite;

    color: deepskyblue;
    font-family: Arial;
    font-style: italic;
    font-size: larger;
    position: center;
    text-align: center;
}

.header img {

    width: 100px;

}
  