.nav {
    grid-area: n;
    grid-template-rows: 2fr;
    width: 150px;
    height: auto;
    background-color: navajowhite;
    padding: 20px;
    border-radius: 5px;
}

.item a {
    color: deepskyblue;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}