.nav {
    grid-area: n;
    grid-template-rows: 2fr;
    width: auto;
    height: auto;
    background-color: #e6e5d4;
    padding: 40px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: large;
}

.item a {
    color: deepskyblue;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}