
.ava_description {
    display: grid;
    grid-template-columns: 150px 2fr;
    padding: 10px;
    margin-bottom: 0;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: darkgray;

}

.description {
    padding: 10px;
    font-size: large;
    font-family: Georgia, fantasy;
    color: black;
    text-align: justify-all;

}