
.description {
    padding: 20px;
    color: deepskyblue;
    font-family: Cambria;
    font: discretionary-ligatures;
    font-size: large
}

.wallpepper {
    width: 1050px;
    height: 100px;
    background-color: deepskyblue;
}

.textArea {
    padding-left: 10px;
}