
.ava_description {
    display: grid;
    grid-template-columns: 300px 2fr;
    padding: 10px;
    margin-bottom: 0;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: darkgray;

}
.ava{
    border-image: round;
    border-radius: 10px;
    }
.description {
    padding: 10px;
    font-size: xx-large;
    font-family: Georgia, fantasy;
    color: peru;
        font-weight: bold;
    font-style: italic;

    text-align: center;

}
.statusBlock{
    color: red;
    text-align: center;
}