html body {
  background: rgb(204, 170, 170)
}
.app-wrapper {
  display: grid;
  width: 500px;
  
  margin-top: center;

  grid-template-areas:
  "h h"
  "n c" ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr, 10fr;
  /* grid-gap: 10px; */
}




