html body {
  background: #1c3faa;
}
.app-wrapper {
  display: grid;
  width: 700px;
  
  margin-top: center;

  grid-template-areas:
  "h h"
  "n c" ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr, 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: rgb(43, 226, 135);
}
.header img {
  width: 20px;
 
}

.nav{
  grid-area: n;
  background-color: rgb(214, 84, 84)
}

.content{
  grid-area: c;
  background-color: #3353b1;
}

.content img {
  width: 500px;
  margin-top: center;
}