.app-wrapper {
  margin: 0 auto;
    display: grid;
    width: 900px;
    grid-template-areas:"h hr" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

/*.app-wrapper-content {
    grid-area: c;
    padding-top: 0px;
    width: auto;
    height: auto;
}*/
.app-wrapper {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    }







