.app-wrapper {
  margin: 0 auto;
    display: grid;
    width: 900px;
    grid-template-areas:"n c";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    justify-items: center;

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    }




